<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Forum</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTopicServlet</display-name>
    <servlet-name>AddTopicServlet</servlet-name>
    <servlet-class>controller.AddTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTopicServlet</servlet-name>
    <url-pattern>/AddTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyTopicsServlet</display-name>
    <servlet-name>MyTopicsServlet</servlet-name>
    <servlet-class>controller.MyTopicsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyTopicsServlet</servlet-name>
    <url-pattern>/MyTopics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTopicsServlet</display-name>
    <servlet-name>ListTopicsServlet</servlet-name>
    <servlet-class>controller.ListTopicsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTopicsServlet</servlet-name>
    <url-pattern>/ListTopics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTopicServlet</display-name>
    <servlet-name>SearchTopicServlet</servlet-name>
    <servlet-class>controller.SearchTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTopicServlet</servlet-name>
    <url-pattern>/SearchTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOutServlet</display-name>
    <servlet-name>SignOutServlet</servlet-name>
    <servlet-class>controller.SignOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOutServlet</servlet-name>
    <url-pattern>/SignOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTopicServlet</display-name>
    <servlet-name>EditTopicServlet</servlet-name>
    <servlet-class>controller.EditTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTopicServlet</servlet-name>
    <url-pattern>/EditTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTopicServlet</display-name>
    <servlet-name>UpdateTopicServlet</servlet-name>
    <servlet-class>controller.UpdateTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTopicServlet</servlet-name>
    <url-pattern>/UpdateTopic</url-pattern>
  </servlet-mapping>
</web-app>